<!doctype html>
<html>
<head>
    <!-- Using Bootstrap, so that we're `responsive`! -->
    <!-- Bootstrap requires the following three meta tags to fully function -->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Javascript and Cascading Style Sheets (css) libraries -->
    <!-- mostly from content delivery networks                 -->
    <!-- jquery; CDN load is usually quick because it's likely cached -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
            type="text/javascript"></script>
    <!-- 12 column grid rearranges itself for smaller screens or windows. -->
    <!-- This project is using an older version, make sure to check out newer versions! -->
    <!-- http://getbootstrap.com/getting-started/  -->
    <!-- Compiled and minified CSS -->
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script
            crossorigin="anonymous"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Let's set our title! -->
    <title>Vocabulary Anagram</title>
    <!-- Our own css file.  Note how we can link directly here and not -->
    <!-- write any routing code in the Flask application. -->
    <link href="/static/jumble.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6 text-center">
            <h1>Words</h1>
        </div>
    </div>
    <!-- Vocabulary words laid out in 6 columns;
        bootstrap may collapse to fewer columns and
        more rows if the window is narrow.
       -->
    <div class="row">
        {% for word in g.vocab %}
        <div class="col-xs-2 text-center"> {{ word }}</div>
        {% if loop.index is divisibleby 3 %}
    </div>
    <!-- row -->
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    <!-- row -->
    <br/>
    <div class="row">
        <div class="col-xs-6 text-center">
            Use letters from
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center lead">
            <strong>{{ session.jumble }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            to spell {{session.target_count}} words from the list.
        </div>
        <!-- col -->
    </div>
    <!-- row -->
    <br/>
    <div class="row">
        <div class="col-xs-6 text-center">
            <form action="/_check" id="entry" method="GET">
                <label for="attempt">Word:</label>
                <input autocomplete="off" autofocus id="attempt" name="attempt"
                       type="text" width="15"/>
            </form>
        </div>
    </div>
    <br/>
    <p id="results"></p>
    <p class="message"></p>
</div>
<!-- container -->
<script>
		// Suppress normal form submission
		$("#entry").submit( function(event) {
               		event.preventDefault();
         });

        $("#attempt").keyup(function(event) {
         	var txt = $("#attempt").val();  // Current content of the input field
            var keycode = event.which;      // They key that just went up
            var letter = String.fromCharCode(keycode);

            if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }
		
			$.getJSON("/_check", { text : txt },
			    function(data) {
                    new_match = data.result.new_match;
                    old_match = data.result.old_match;
                    not_matched = data.result.not_matched;
                    not_word = data.result.not_word;
                    jumble = data.result.jumble;
                    finished = data.result.finished;
                    if (new_match) {
                        $(".message").html("");
                        $("#results").append(txt + "   ");
                        $("#attempt").val("");
                        // Extra credit: Strike-through and gray-out matched words
                        // Adapted from stackoverflow page and fit to suit this projects needs
                        // https://stackoverflow.com/questions/15364298/select-element-by-exact-match-of-its-content
                        $(".col-xs-2").filter(function() {
                            return $.trim($(this).text()) === txt;
                        }).css({"color": "gray", "text-decoration": "line-through"});
                    } else if (old_match) {
                        $(".message").html("");
                        $(".message").html(txt + " has already been found");
                    } else if (not_matched) {
                        $(".message").html("");
                        $(".message").html(txt + " isn't in the list of words");
                    } else if (not_word) {
                        $(".message").html("");
                        $(".message").html(txt + " can't be made from the letters " + jumble);
                    }
                    if (finished) {
                        window.location.replace("/success");
                    }
			});
		});

</script>
</body>
</html>
